.App {
  text-align: center;

}

Link {
  text-decoration:none; 
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

.dark-mode-button {
  position:absolute;
  top:50px;
  right:50px;
  z-index:1049;
} 

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
